h1 {
    background-color: #6495ed;
    border: 5px blue;
    font-size: 50px;
}
h2 {
    background-color: red;
    border-bottom: 5px solid red;
    font-size: 35px;
}
body{
  background: radial-gradient(#CC9900,#C00000);
  text-shadow: #000000;
  border:30px solid transparent;
	border-image:url(http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/border.png) 30 30 round;
}
p {
  font-size: 25px;
}
h3 {
  font-size: 25px;
}
h4{
  font-size: 20px;
}
