h1 {
    background-color: #6495ed;
    border: 5px blue;
    font-size: 50px;
}
h2 {
    background-color: red;
    border-bottom: 5px solid red;
    font-size: 35px;
}
body{
  background-color: white;
  text-shadow: #000000;
  border: 5px solid red;
}
p {
  font-size: 25px;
}
h3 {
  font-size: 25px;
}
h4{
  font-size: 20px;
}
